.Top_container {
    background-image: url("/personal_website/images/coding\ wallpaper.png");
    padding: 100px;
  }


.Middle_container {
    background-color: rgb(41, 41, 41);
    padding: 100px;
} 


.Bottom_container {
    background-color: rgb(5, 0, 49);
    padding: 20px;
}


h1 {
    font-size: 10vw;
    font-family: "Architects Daughter";
}

h2 {
    font-size: 5vw;
    font-family : "Architects Daughter";
    color: darkgoldenrod;
    text-decoration: underline;
}

h3 {
    font-size: 3vw;
    font-family : "Architects Daughter";
    color: darkkhaki;
}

body {
    font-size: 1.6vw;
    font-family: monospace;
    margin: 0;
    color: white;
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

hr {
    color: darkgoldenrod;
    border-top: solid;
    border-bottom: none;
    align-self: center;
    width: 60vw;
}

.button_class {
    border: 3px solid;
    border-color: rgb(32, 169, 214);
    border-radius: 10px;
    background-color: white;
    color: rgb(32, 169, 214);
    
    display: inline-block;
    
    text-decoration: none;
    padding: 15px 32px;
    text-align: center;
    font-size: 1.65vw;
}

.button_class:hover {
    background-color: rgb(32, 169, 214);
    color: white;
}

a {
    color: rgb(255, 133, 133);
}

a:hover {
    color: lightgreen;
}

::selection {
    background-color: rgb(243, 243, 110);
    color: black;
}

.img_class {
    width: 20vw;
    height: 20vw;
}